/* font family */
@import url(https://fonts.google.com/specimen/Outfit);

:root{

    /* colors */
    --white-color: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --gryish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* font size */
    --paragraph: 15px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: var(--paragraph);
    position: relative;
}


.card{
    background-color: var(--white-color);
    padding: 0.7rem;
    border-radius: 15px;
    text-align: center;
    width: 100%;
    max-width: 320px;
}

.card .qr-imagen {
    width: 100%;
    max-width: 280px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 15px;
}

.info {
    padding: 1rem 1.5rem;
}

.title{
    color: var(--dark-blue);
    font-weight: 700;
    font-size: 19px;
}

.sub{
    margin-top: 15px;
    font-weight: 400;
    color: var(--gryish-blue);
}

.attribution{
   font-size: 14px;
    text-align: center;
   padding: 10px 10px;
   position: absolute;
   left: 50%;
   bottom: 20px;
   transform: translate(-50%);
}

.attribution a {
    text-decoration: none;
    color: #7474ff;
}

.attribution a:hover {
    transition: 0.3s ease;
    color: blue;
}   

/* mobile version */

@media screen and (max-width: 1200px) {
    .attribution {
        width: 100%;
        text-align: center;
    }
}


@media screen and (max-width: 768px) {

    

    .title{
        font-weight: 700;
        font-size: 18px;
    }

    .sub{
        display: block;
        font-size: 14px;
        font-weight: 400;
        width: 100%;
    } 

    .attribution {
        width: 285px;
        text-align: center;
    }
   
}

@media screen and (max-width: 375px) {

   .info {
    padding: 0.9rem;
   }

   .card{
        margin: 0px 10px;
    }

    .card .qr-imagen{
        width: 95%;
    }

    .title{
        font-weight: 700;
        font-size: 19px;
        margin-bottom: 15px;
    }

   
}
